<a href="https://colab.research.google.com/github/Niyati-Sinha/PYTHON-Codes-By-Niyati-Sinha/blob/master/TNT%20LAB/Lab10/Lab10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Niyati Sinha
1805501

In [ ]:
import csv

with open("test.csv") as input_csv_file:
  csv_reader = csv.reader(input_csv_file,delimiter = ',')

  for rows in csv_reader:
    print(rows)

['Name', 'Age', 'Marks']
['A', '20', '33']
['A', '20', '33']
['A', '20', '33']

In [ ]:
import csv

with open("test.tsv") as input_tsv_file:
  tsv_reader = csv.reader(input_tsv_file,delimiter = '\t')

  for rows in tsv_reader:
    print(rows)

['Name', 'Age', 'Marks']
['A', '20', '100']
['B', '0', '0']
['C', '69', '69']

In [ ]:
attributes = ['Name','Age','Marks']
data = [['D',10, 1], ['E',23, 78], ['F',32, 85]]
with open("test.csv", "w", newline='') as file:
   writer = csv.writer(file)
   writer.writerows(data)
with open('test.csv', newline='') as csvfile:
 data = csv.reader(csvfile)
 for row in data:
   print(row)

['D', '10', '1']
['E', '23', '78']
['F', '32', '85']

In [ ]:
with open("test.csv", "w") as file:
   writer = csv.writer(file)
   for i in range(5):
     writer.writerow(('B',i,100*i))

print(open("test.csv", "rt").read())

B,0,0
B,1,100
B,2,200
B,3,300
B,4,400

In [ ]:
attributes = ['Name','Age','Marks']
d = [{'Name':'A','Age':20,'Marks':33},{'Name':'A','Age':20,'Marks':33},{'Name':'A','Age':20,'Marks':33}]
with open('test.csv', "w") as csvfile:
   writer = csv.DictWriter(csvfile,fieldnames= attributes)
   writer.writeheader()
   writer.writerows(d)
with open('test.csv', newline='') as csvfile:
 data = csv.reader(csvfile)
 for row in data:
   print(row)

['Name', 'Age', 'Marks']
['A', '20', '33']
['A', '20', '33']
['A', '20', '33']