<a href="https://colab.research.google.com/github/Niyati-Sinha/PYTHON-Codes-By-Niyati-Sinha/blob/master/TNT%20LAB/Lab8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Print the whole file

In [31]:
f=open("T&T.txt",'r')
lines=f.readlines()
for line in lines:
  print(line)

Hello,



I am Niyati Sinha persuing Bachelors in Computer Science Engineering frok KIIT UNIVERSITY



The books and friends we have are invaluable.

#First upload the file T&T.txt or make it available to the notebook.

In [15]:
f=open("T&T.txt","r")
for line in f:
  for word in line.split():
    #print(type(word))
    #if word.startswith("S" or 's'): this does not work properly as or does not work as argument
    if word.startswith("S") or word.startswith('s'):
      print(word)

Sinha
Science

In [16]:
f=open("T&T.txt","r")
no=0
for line in f:
  for word in line.split():
    #print(type(word))
    if word.startswith("The") or word.startswith('the'):
      #print(word)
      no+=1
print(no)

1

In [17]:
import os
f=open("T&T.txt","r")
f.seek(0,os.SEEK_END)
size=f.tell()
print(f'{size} bytes')

148 bytes

In [18]:
f=open("T&T.txt","r")
vowel=['a','e','i','o','u','A','E','I','O','U']
no=0
for line in f:
  for word in line.split():
    #print(type(word))
    #if word.startswith('a'or'e'or'i'or'o'or'u'or'A'or'E'or'I'or'O'or'U') == True:
    if word[0] in vowel:
      #print(word)
      no+=1
print(no)

8

In [29]:
f=open("T&T.txt","r")
fl=open('new.txt','a')
for line in f:
  for word in line.split():
    #print(type(word))
    if word.islower():
      fl.write("{} ".format(word))

#print(f' new fine details are:\n{fl}')
fl=open('new.txt','r')
for line in fl:
  print(f'{line}')

am persuing in frok books and friends we have are invaluable. am persuing in frok books and friends we have are invaluable.